<div class="detail-component">
  <div class="detail-component__back" (click)="backToCurrentPage()">
    <i class="pi pi-angle-left"></i>
  </div>

  <p-card *ngIf="detailData">
    <ng-template pTemplate="header">
      <img
        style="border-top-left-radius: 10px; border-top-right-radius: 10px"
        alt="Card"
        class="detail-component__image-container"
        src="{{ detailData.Imagen }}"
      />
    </ng-template>
    <div>Ref: {{ detailData.vivienda?.FkPropiedad }}</div>
    <div>{{ detailData.operacion?.Precio | currency : "EUR" : "symbol" }}</div>
    <span class="detail-component__info">Gastos e impuestos no incluidos</span>
    <div>
      <h2>{{ detailData.Metadescription }}</h2>
    </div>
    <div class="detail-component__subtitle">
      <i class="pi pi-map-marker"></i>
      <h5>{{ detailData.Ciudad }} . {{ detailData.Capital }}</h5>
    </div>
    <div class="detail-component__body">
      <div class="">{{ detailData.ConstructedArea }} m</div>
      <div>{{ detailData.vivienda?.Bedrooms }} Habitaciones</div>
      <div>{{ detailData.vivienda?.Bathrooms }} Baños</div>
    </div>
    <ng-template class="detail-component__footer" pTemplate="footer">
      <div class="detail-component__divider">
        <h2>Descripción</h2>
        <div class="detail-component__description">
          {{ detailData.Description }}
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
