.detail-component {
  &__back {
    padding: 1rem;
  }
  &__divider {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
  }
  &__description {
    padding: 1rem;
    font-size: 0.8rem;
  }
  &__image-container {
    width: unset;
  }
  &__info {
    color: #C7C7C7;
    font-size: 0.7rem;
  }
  &__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem
  }
  &__body {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2rem
  }
  &__footer {
    justify-content: unset;
  }
}
