<div class="furniture-container__cards" (click)="sendReference()">
  <p-card>
    <ng-template pTemplate="header">
      <img
        style="border-top-left-radius: 10px; border-top-right-radius: 10px"
        alt="Card"
        class="image-container"
        src="{{ imagePath }}"
      />
    </ng-template>
    <p>
      {{ price | currency : "EUR" : "symbol" }}
      {{ lastPrice | currency : "EUR" : "symbol" }}
    </p>
    <p>{{ description }}</p>
    <p>{{ city }}</p>
    <ng-template pTemplate="footer">
      <div class="furniture-container__divider">{{ area }} m2</div>
      <div class="furniture-container__divider">
        {{ bedrooms }}
      </div>
      <div>{{ bathrooms }} Baño</div>
    </ng-template>
    <div>{{ description }}</div>
  </p-card>
</div>
