/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
app-list {
  display: flex;
  flex-flow: wrap;
}

.p-card-footer {
  display: flex;
  justify-content: space-evenly;
}